<div class="sidebar-heading border-bottom bg-light">Gestion-Cours V 1.0</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://project-gestion-plannig-next-u.megaformation.repl.co/backend-gestion">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://project-gestion-plannig-next-u.megaformation.repl.co/listing_profs">Les profs</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://project-gestion-plannig-next-u.megaformation.repl.co/listing_matieres">Les matieres</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://project-gestion-plannig-next-u.megaformation.repl.co/listing_salles">Les salles</a>
                 
</div>